.container {
  margin-top: 50px;
  transform: translateY(60px);
}

.ico {
          margin: 0 auto;
          margin-top: 30px;
          text-align: center;
          width: 100px;
          height: 100px;
          position: relative;
          top: 50%;
          /* transform: translateY(-50%); */
          filter: url("#goo");

}

.circle {
          background: rgb(255, 255, 255);
          border-radius: 50%;
          display: inline-block;
          height: 100px;
          width: 100px;
          position: absolute;
          top: 50%;
          /* left: 50%; */
          transform: translateX(-50%) translateY(-50%);
          /* transform-origin: 0%; */
}

.circle-top {

          height: 33px;
          width:41px;
          animation: blob-1-anim 3s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
          z-index: 0;
          top: 0;
}

.circle-bottom {
          height: 33px;
          width: 41px;
          animation: blob-2-anim 3s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
          z-index: 9;
          bottom: 0px;
}

.st-arrow {
          fill: turquoise;
          animation: scrolly 3s cubic-bezier(0.770, 0.000, 0.175, 1.000) forwards infinite;
          perspective: 9000px;
          transform: translateZ(0);
          transform-origin: bottom;
}

.svg {
          z-index: 9;
          position: relative;
}

@keyframes blob-1-anim {
          0% {
                    transform: translateX(-50%) translateY(0);
          }

          14% {
                    transform: translateX(-50%) translateY(-8px);
          }

          24% {
                    transform: translateX(-50%) translateY(0);
          }

          100% {
                    transform: translateX(-50%) translateY(0);
          }
}

@keyframes blob-2-anim {
          0% {

                    transform: scale(1) translate(-50%, 10px);
          }

          30% {

                    transform: scale(1) translate(-50%, 10px);
          }

          70% {

                    transform: scale(1) translate(-50%, 10px);

          }

          95% {

                    transform: scale(1) translate(-50%, 26px);


          }

          100% {

                    transform: scale(1) translate(-50%, 10px);
          }
}

@keyframes scrolly {
          0% {
                    transform: translate3d(0, -150%, 0) rotateX(90deg) scale(0.5) skewX(3deg);
          }

          30% {
                    transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
          }

          70% {
                    transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
          }

          95% {
                    transform: translate3d(0, 50%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg);
          }

          100% {
                    transform: translate3d(0, 50%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg);
          }
}